* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html {
 font-size: 16px;
}

.header {
 max-width: 1600px;
 max-height: 900px;
 margin: 200px auto;
 background-color: #f6f6f6;
 border: 1px solid #f6f6f6;
}

.box {
 width: 63%;
 margin: 200px auto;
 background-color: #fff;

}

.main-image {
 width: 37%;
 height: auto;
 margin: 64px 10% 64px 4.8%;
 display: inline-block;
 vertical-align: middle;
}

img {
 width: 100%;
 height: auto;
}

.text {
 width: 44%;
 height: auto;
 display: inline-block;
 vertical-align: middle;
 color: #2f2f2f;
 margin: 64px 0 64px 0;
}

.main-title {
 font-size: 1.53rem;
 font-weight: 700;
 margin-top: 30px;
}

.main-dicrp {
 width: 90%;
 font-size: 0.94rem;
 margin-top: 30px;
}

.main-cost {
 margin-top: 55px;
 font-size: 0.94rem;
}

.main-price {
 margin-top: 23px;
 font-size: 1.88rem;
}

.button {
 margin-top: 56px;
 background-color: #ec744a;
 font-size: 1.18rem;
 padding: 16px 39px;
 display: inline-block;
 color: #fff;
}